<h1>Listing posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Comments</th>
    <th colspan="3">Actions</th>
  </tr>

<% @posts.each_with_index do |post, i| %>
  <tr class="<%= i.odd? ? 'odd' : 'even' %>">
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= post.comments.size if post.comments %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
